# Vivado Ignores
# gitignore template for Xilinx Vivado Design Suite
# website: https://www.xilinx.com/support/download.html
fpga/reference_design/digilent_nexys/*.jou
fpga/reference_design/digilent_nexys/*.runs
fpga/reference_design/digilent_nexys/*.log
fpga/reference_design/digilent_nexys/*.debug
fpga/reference_design/digilent_nexys/*.str
fpga/reference_design/digilent_nexys/*.zip
fpga/reference_design/digilent_nexys/*.tmp
fpga/reference_design/digilent_nexys/*.rst
fpga/reference_design/digilent_nexys/*.os
fpga/reference_design/digilent_nexys/*.js
fpga/reference_design/digilent_nexys/*.pb
fpga/reference_design/digilent_nexys/*.dcp
fpga/reference_design/digilent_nexys/*.hwdef
fpga/reference_design/digilent_nexys/*.vds
fpga/reference_design/digilent_nexys/*.veo
fpga/reference_design/digilent_nexys/*.wdf
fpga/reference_design/digilent_nexys/*.vdi
fpga/reference_design/digilent_nexys/*.dmp
fpga/reference_design/digilent_nexys/*.rpx
fpga/reference_design/digilent_nexys/*.rpt
fpga/reference_design/digilent_nexys/*_stub.v
fpga/reference_design/digilent_nexys/*_stub.vhdl
fpga/reference_design/digilent_nexys/*_funcsim.v
fpga/reference_design/digilent_nexys/*_funcsim.vhdl
fpga/reference_design/digilent_nexys/.project
fpga/reference_design/digilent_nexys/*.xpr

# [dir]
fpga/reference_design/digilent_nexys/*.cache
fpga/reference_design/digilent_nexys/.metadata
fpga/reference_design/digilent_nexys/*.data
fpga/reference_design/digilent_nexys/*.ipdefs
fpga/reference_design/digilent_nexys/.Xil
fpga/reference_design/digilent_nexys/*.sdk
fpga/reference_design/digilent_nexys/*.hw
fpga/reference_design/digilent_nexys/*.ip_user_files

### IP synth
fpga/reference_design/digilent_nexys/*_synth_*

fpga/reference_design/digilent_nexys/.jobs

### project synth
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.xml
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.txt
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.sh
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.tcl
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.bat
fpga/reference_design/digilent_nexys/*/*.runs/synth*/*.xdc
fpga/reference_design/digilent_nexys/!*/*.runs/synth*/*utilization*.rpt

fpga/reference_design/digilent_nexys/*.runs/synth*/*.xml
fpga/reference_design/digilent_nexys/*.runs/synth*/*.txt
fpga/reference_design/digilent_nexys/*.runs/synth*/*.sh
fpga/reference_design/digilent_nexys/*.runs/synth*/*.tcl
fpga/reference_design/digilent_nexys/*.runs/synth*/*.bat
fpga/reference_design/digilent_nexys/*.runs/synth*/*.xdc
fpga/reference_design/digilent_nexys/!*.runs/synth*/*utilization*.rpt

### project impl
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.xml
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.html
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.txt
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.sh
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.tcl
fpga/reference_design/digilent_nexys/*/*.runs/impl*/*.bat
fpga/reference_design/digilent_nexys/!*/*.runs/impl*/*utilization*.rpt

fpga/reference_design/digilent_nexys/*.runs/impl*/*.xml
fpga/reference_design/digilent_nexys/*.runs/impl*/*.html
fpga/reference_design/digilent_nexys/*.runs/impl*/*.txt
fpga/reference_design/digilent_nexys/*.runs/impl*/*.sh
fpga/reference_design/digilent_nexys/*.runs/impl*/*.tcl
fpga/reference_design/digilent_nexys/*.runs/impl*/*.bat
fpga/reference_design/digilent_nexys/!*.runs/impl*/*utilization*.rpt

### block design
fpga/reference_design/digilent_nexys/*/*/bd/*/hdl
fpga/reference_design/digilent_nexys/*/*/*/bd/*/hdl

fpga/reference_design/digilent_nexys/*/*/bd/*/*.xdc
fpga/reference_design/digilent_nexys/*/*/*/bd/*/*.xdc

fpga/reference_design/digilent_nexys/*/*/bd/*/ip/*/*.xdc
fpga/reference_design/digilent_nexys/*/*/*/bd/*/ip/*/*.xdc

fpga/reference_design/digilent_nexys/*/*/bd/*/ip/*/*/
fpga/reference_design/digilent_nexys/*/*/*/bd/*/ip/*/*/

fpga/reference_design/digilent_nexys/*/*/bd/*/ip/*/*.vhd
fpga/reference_design/digilent_nexys/*/*/*/bd/*/ip/*/*.vhd

fpga/reference_design/digilent_nexys/*/*/bd/*/ip/*/*.xml
fpga/reference_design/digilent_nexys/*/*/*/bd/*/ip/*/*.xml

fpga/reference_design/digilent_nexys/*.c
fpga/reference_design/digilent_nexys/*.h
fpga/reference_design/digilent_nexys/*.vho
fpga/reference_design/digilent_nexys/*.html
fpga/reference_design/digilent_nexys/*/*/bd/*/ip/*/*.tcl
fpga/reference_design/digilent_nexys/*/*/*/bd/*/ip/*/*.tcl
fpga/reference_design/digilent_nexys/hw_handoff
fpga/reference_design/digilent_nexys/ipshared